# Secrets
.env
backend/.env

# Python
**/__pycache__/
*.pyc
backend/venv/

# Databases & Uploads
backend/shadow_recruit.db
backend/chroma_db/
backend/uploads/

# Frontend
node_modules/
frontend/node_modules/
frontend/dist/