fastapi
uvicorn
sqlalchemy
aiosqlite
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
structlog
asyncpg
psycopg2-binary
google-genai
argon2-cffi
langchain-groq
pypdf
anthropic
slack-bolt==1.18.0